<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Login</ion-title>
  </ion-navbar>
</ion-header>
<br><br><br>

<ion-content padding>
	<ion-list>
	  <ion-item>
	    <ion-label color="primary">Username</ion-label>
	</ion-item>
	<ion-item>
	    <ion-input placeholder="username" [(ngModel)]="username"></ion-input>
	  </ion-item>
	  <ion-item>
	    <ion-label color="primary">Password</ion-label>
	</ion-item>
	<ion-item>
	    <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
	  </ion-item>
	  <ion-item class="center-text">
	  	<p>Forgot password? <span (click)="gotoSignupPage()"></span></p>	
	  	</ion-item>
	</ion-list>
	  <div class="center-text">  
        <button class="btn-main" ion-button (click)="login()">LOGIN</button>
	  </div>

</ion-content>
