<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Account Management</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="content-title">
		<h2>List of Agents</h2>
	</div>
	<ion-list>
		<ion-item *ngFor= "let d of dataArray">{{d.username}}</ion-item>
		<ion-label *ngFor= "let d of dataArray"> name: {{d.username}} </ion-label>
	</ion-list>
	<div class="content-body">
		<ion-grid class="table reports" >
		  <ion-row>
		    <ion-col>
		     	<strong>Name</strong>
		    </ion-col>
		    <ion-col>
		      <strong>Description</strong>
		    </ion-col>
		  </ion-row>
		  <ion-row *ngFor= "let d of dataArray"> 
		    <ion-col >
					<ion-list>
						{{d.username}}
					</ion-list>
		    </ion-col>
		    <ion-col >
				<ion-list>
					{{d.password}}
				</ion-list>
		     
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>

</ion-content>
