<ion-content padding class="main-menu bg-main">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon ios="person" md="md-person" class=""></ion-icon>
            <span class="text-plain" (click)="profile()">Profile</span>
          </ion-col>
          <ion-col class="right-text">
            <span class="text-plain" (click)="logout()"> Logout</span>&nbsp;&nbsp;
            <ion-icon ios="exit" md="md-exit" class=""></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  <br><br><br>	
    <div class="center-text bg-main"> 
    
      <ion-card>
        <ion-card-content>
          <button class="text-plain" block ion-button clear (click)="gotoProductMngt()">Product Management</button>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>	
          <button class="text-plain" block ion-button clear (click)="gotoPriceReports()">Price Reports</button>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <button class="text-plain"  block ion-button clear (click)="gotoAnalysis()">Trend Analysis</button>
        </ion-card-content>
      </ion-card>
    </div>
  
  </ion-content>
  