<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Price Monitoring</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <ion-list>
      <ion-item>
          <h1 class="center-text">Monitor Price</h1>
      </ion-item>

      <ion-item>
        <ion-label>Choose Market </ion-label>
        <ion-select [(ngModel)]="market_id"> 
          <ion-option *ngFor= "let d of dataArraymarket" value="{{d.market_id}}">{{d.market_name}}</ion-option>
        </ion-select>
      </ion-item> 

      <ion-item>
        <ion-input type="text" required [(ngModel)]="store" placeholder="Store Name(Optional)"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="text" required [(ngModel)]="source" placeholder="Source"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Choose Product </ion-label>
        <ion-select [(ngModel)]="product_id" > 
          <ion-option  *ngFor= "let a of dataArrayproduct" value="{{a.product_id}}"> {{a.product_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Choose Unit </ion-label>
          <ion-select [(ngModel)]="unit">
            <ion-option value="kg">Kg</ion-option>
            <ion-option value="piece">Piece</ion-option>
            <ion-option value="bundle">Bundle</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="decimal" required [(ngModel)]="price" placeholder="php"></ion-input>
      </ion-item>
      <div class="center-text">  
          <button class="btn-main" ion-button (click)="saveMonitor()">SAVE</button>
      </div>
  </ion-list>
</ion-content>


