<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Profile</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding> 
    <h1 class="main-title center-text">Update Profile</h1>
		<div padding class="center-text">
      	<img width="80" height="80" src="assets/imgs/ksoo.jpg">
      	<h3 class="main-title">{{user}}</h3>
    </div>
   
    <ion-list>
      <ion-item>
        <ion-input type="text"  [(ngModel)]= "fname" placeholder="First Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text"  [(ngModel)]= "lname" placeholder="Last Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="date" [(ngModel)]= "birthdate" placeholder="Birthdate"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label color="primary">Gender</ion-label>
          <ion-select [(ngModel)]="gender"> 
            <ion-option value="female">Female</ion-option>
            <ion-option value="male">Male</ion-option>
          </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-input type="text" [(ngModel)]= "username" placeholder="username"></ion-input>
      </ion-item>      
    </ion-list>
    
    <div padding class="center-text">
      <button class="btn-main" ion-button (click)="updateProfile()">Update</button>
    </div>
</ion-content>
