<ion-content padding class="center-text">
		<br><br><br><br>
      	<img width="80" height="80" src="assets/imgs/logo.png">
      	<h1 class="main-title">AgriTrend</h1>
		<br><br><br><br><br><br><br>
        <button class="btn-main" ion-button (click)="gotoLoginPage()">LOGIN</button>
      	<br>
        <button class="btn-main" ion-button (click)="gotoSignupPage()">SIGN UP</button>

</ion-content>
