<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Price Reports</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="content-title">
	</div>


	<ion-list>
		<ion-item>
			<ion-label>Choose Category</ion-label>
			<ion-select  [(ngModel)]="category" okText="Ok" cancelText="Cancel" (ionChange)="changeCategory()">
				<ion-option  *ngFor= "let cat of categoryList" value="{{ cat.category_id }}">{{ cat.category_name }}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Choose Commodity</ion-label>
			<ion-select okText="Ok" cancelText="Cancel" (ionChange)="changeCategory()">
				<ion-option  *ngFor= "let cat of categoryList" value="{{ cat.category_id }}">{{ cat.category_name }}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
		<ion-label>From: </ion-label>
			<ion-datetime placeholder="Start Date" displayFormat="YYYY-MM-DD" type="date" [(ngModel)]="start_date"></ion-datetime>
		</ion-item>
		<ion-item>
		<ion-label>Until:</ion-label>
			<ion-datetime placeholder="End Date" displayFormat="YYYY-MM-DD" type="date" [(ngModel)]="end_date"></ion-datetime>
		</ion-item>
		<button ion-button class="btn btn-primary" >
			Filter report
		</button>
	</ion-list>


		<ion-grid class="">
				<ion-row>
					<ion-col>
						<strong>Commodity</strong>
					</ion-col>
					<ion-col>
						<strong>Category</strong>
					</ion-col>
					<ion-col>
						<strong>Cogon</strong>
					</ion-col>
					<ion-col>
						<strong>Carmen</strong>
					</ion-col>
					<ion-col>
						<strong>Date</strong>
					</ion-col>
				</ion-row>
				<ion-row *ngFor= "let d of dataArrayproduct"> 
					<ion-col>
						<a (click)="showProductReport($event)" id='{{ d.product_id }}'>
							{{d.product_name}}
						</a>
					</ion-col>
					<ion-col class="left-text">
						<span>
							{{d.category_name}}
						</span>						
					</ion-col>
					<ion-col class="left-text">
						<span>
							{{d.cogon_prev_price}}
						</span>						
					</ion-col>
					<ion-col class="left-text">
						<span>
							{{d.carmen_prev_price ? d.carmen_prev_price  : 'N/A' }}
						</span>						
					</ion-col>
					<ion-col class="left-text">
						<span>
							{{d.monitoring_date}}
						</span>						
					</ion-col>
				</ion-row>
		</ion-grid>


</ion-content>
