<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Price Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>	
	<div class="content-title">
		<h4>Commodity: {{ productName }} </h4>
	</div>

	<div id="product_info">
		<ion-grid>
			<ion-row>
				<ion-col>
					As of: 
				</ion-col>
				<ion-col>
					<h5>{{ monitoringDate }}</h5>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					Category
				</ion-col>
				<ion-col>
					<h5>{{ categoryName }}</h5>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					Carmen
				</ion-col>
				<ion-col>
					<h5>{{ carmenPrice }}</h5>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					Cogon
				</ion-col>
				<ion-col>
					<h5>{{ cogonPrice }}</h5>
				</ion-col>
			</ion-row>
		</ion-grid>

	</div>


</ion-content>
