.center-text {
    text-align: center;
}
.right-text {
	text-align: right;
}
.left-text {
	text-align: left;
}
.main-title {
	color: color="primary";
}
.btn-main {
	background: color="primary";
	width: 100px;
}
.bg-main {
	background: #00E676;
}


main-menu button {
	color: #263238;
}
.bg-plain {
	background: #fff;
}
.text-plain {
	color: #263238;
}

.bold-text {
	font-weight: bold;
}

.head-text, .main-title {
	color: #263238!important;
}
ion-navbar ion-title {
	color: #263238!important;
}

.active {
	color: #1FDB4B;
}
.disabled {
	color: #110000;
}

/* Table Styles*/

.table ion-col {
	border: 1px solid #ddd;
}

.table ion-row:first-child {
	font-weight: bold;
}

.table ion-col:first-child {
	text-align: left;
}

.table.account ion-col:nth-child(2) {
	text-align: right;
}
.table.product ion-col:nth-child(2), .table.product ion-col:nth-child(3)  {
	text-align: right;
}
.table ion-row:first-child ion-col{
	text-align: center!important;
}

.table.reports ion-col {
	width: 20%;
}
