<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Commodities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>	
	<div class="content-title">
		<h2>Select Commodity you want to see reports</h2>
	</div>

	<ion-list>
		<ion-item>
			<ion-label>Choose Category</ion-label>
			<ion-select  [(ngModel)]="category" okText="Ok" cancelText="Cancel" (ionChange)="changeCategory()">
				<ion-option  *ngFor= "let cat of categoryList" value="{{ cat.category_id }}">{{ cat.category_name }}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<ion-searchbar placeholder="search" [(ngModel)]="search" (ionInput)="mysearch()"> </ion-searchbar>

		<ion-grid class="center-text table product">
				<ion-row>
					<ion-col>
						<strong>Name</strong>
					</ion-col>
					<ion-col>
						<strong>Description</strong>
					</ion-col>
				</ion-row>
				<ion-row *ngFor= "let d of dataArrayproduct"> 
					<ion-col>
						<a (click)="showProductReport($event)" id='{{ d.product_id }}'>
							{{d.product_name}}
						</a>
					</ion-col>
					<ion-col class="left-text">
						<span>
							{{d.description}}
						</span>
						
					</ion-col>
				</ion-row>
		</ion-grid>

</ion-content>
