<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Sign Up</ion-title>
  </ion-navbar>

</ion-header>
<br><br><br>

<ion-content padding>
			<ion-list>
				<ion-item>
						<ion-label color="primary">First Name</ion-label>
				</ion-item>
				<ion-item>
					<ion-input placeholder="First Name" [(ngModel)]="fname"></ion-input>
				</ion-item>
				<ion-item>
						<ion-label color="primary">Last Name</ion-label>
				</ion-item>
				<ion-item>
					<ion-input placeholder="Last Name" [(ngModel)]="lname"></ion-input>
				</ion-item>

			<ion-item>
				<ion-label color="primary">Birthdate</ion-label>
			</ion-item>
			<ion-item>
				<ion-datetime placeholder="Birthdate" displayFormat="YYYY-MM-DD" type="date" [(ngModel)]="birthdate"></ion-datetime>
			</ion-item>

			<ion-item>
					<ion-label color="primary">Gender</ion-label>
			</ion-item>
			<ion-item>
					<ion-select [(ngModel)]="gender"> 
						<ion-option value="female">Female</ion-option>
						<ion-option value="male">Male</ion-option>
					</ion-select>
			</ion-item>

			<ion-item>
				<ion-label color="primary">Username</ion-label>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
		</ion-item>

				<ion-item>
					<ion-label color="primary">Password</ion-label>
				</ion-item>
				<ion-item>
					<ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
				</ion-item>
			</ion-list>
	  <div class="center-text">  
        <button class="btn-main" (click)="signup()" ion-button>Sign Up</button>
	  </div>

</ion-content>
