<ion-header>
  <ion-navbar color="primary">
    <ion-title class="head-text">Trend Analysis</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>


 <!--  <ion-item>
    <ion-label>Choose Product</ion-label>
    <ion-select>
      <ion-option selected="true">Rice</ion-option>
      <ion-option>Mangga</ion-option>
      <ion-option>Tomato</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Choose Chart</ion-label>
    <ion-select>
      <ion-option selected="true">Line Chart</ion-option>
      <ion-option>Bar Graph</ion-option>
      <ion-option>Numeric</ion-option>
    </ion-select>
  </ion-item> -->
</ion-content>
